<div class="d-flex min-vh-100 justify-content-center align-items-center flex-column">
  <p><%= @new_chars %></p>
  <p>Your answer: <%= @answer %></p>
  <p><%= @message %></p>
  <p>Your score: <%= @score %></p>
  <%= link_to "Play Again", new_path %>
</div>
